
/* Add a black background color to the top navigation */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: blue;
  padding: 8px 16px;
  text-decoration: underline;
}
/* Add a color to the active/current link */
li a.active {
  background-color: #4CAF50;
  color: #000;
}
/* Change the color of links on hover */
li a:hover:not(.active) {
  background-color: #FFFFFF;
  color: black;
}
@media (min-width: 767px) {
  .navbar-form.navbar-left{
    display:table;
  }
}


body {
  text-align: center;
  background-color: white;
}

/* two unequal columns */

.left {
  width: 60%;
}

.right {
  width: 30%;
}


div {
  margin-top: 0px;
}

.image-section {
  display: flex;
  justify-content: flex-start;
}

.section-style {
  margin-right: 5px;
  margin-left: 5px;
  background-color: white;
}

p {
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 350px;
  margin-right:50px;
}

#footer {
    position: static;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
 }
 
#more {display: none;}
#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}

h2, h5 {
     margin:0;
     padding:0;
}
h5, h6 {
     margin:0;
     padding:0;
}
h1 {
      background-color:white;
    }
.p {
  font-family: Arial, Helvetica, sans-serif;
}

